body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin-bottom: 5px;
}
#characterGroup {
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newChar {
    display: flex;
    flex-direction: column;
    margin: 15px;
    border: 2px solid black;
    padding: 10px;
}
.healthbar {
    background-color: #d3d3d3;
    height: 10px;
}
.image {
    width: 200px;
}
.name {
    color: black;
    padding-bottom: 4px;
}
.create {
    font-size: 15px;
    padding: 5px 10px;
}